<div class="container-fluid">
	<section class="book-group" id="first">
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<div class="land-pic mainland">
					<%= image_tag "fsbo-book2.png", class: "book-image" %>
				</div><!--/land-pic-->
			</div><!--/col-xs-12-->
			<div class="col-xs-12 col-sm-6 mainland">
				<div class="land-script-1">
					<h1> Your Home is Your Largest Asset... </h1>					
				</div><!--/land-script-1-->
				<div class="land-script-2">
					<h1> Learn What Mistakes NOT to Make When Selling it on Your Own...</h1>					
				</div><!--/land-script-2-->
				<div class="land-script-3">
					<h1> Download Your Free Guide Now! </h1>					
				</div><!--/land-script-3-->
				<button type="button" class="btn btn-success btn-lg lm-button"> Learn More </button>
			</div><!--/mainland-->
		</div><!--/row-->
	</section>
	<section class="book-group" id="second">
		<div class="row second-area">
			<div class="col-md-12">
				<h1> Some of the Key Tips You'll Get: </h1>
				<ul>
					<li class="list">
						<h3>
						<%= image_tag "blue-check.png", class: "responsive checked", alt: "checkbox" %> The #1 Reason For Sale By Owner Sellers FAIL </h3> 
					</li>
					<li class="list">
						<h3> <%= image_tag "blue-check.png", class: "responsive checked", alt: "checkbox" %> The Top 3 Things You Can Do To Increase Your Chances of Selling Your Home </h3> 
					</li>
					<li class="list">
						<h3> <%= image_tag "blue-check.png", class: "responsive checked", alt: "checkbox" %> The Key Differences Between Selling a Home & a Condo</h3>
					</li>
					<li class="list">
						<h3> <%= image_tag "blue-check.png", class: "responsive checked", alt: "checkbox" %> How to Determine if You Have a Prime For Sale By Owner Property </h3> 
					</li>
					<li class="list">
						<h3> <%= image_tag "blue-check.png", class: "responsive checked", alt: "checkbox" %> How to Deal With Realtors with Buyers</h3> 
					</li>
					<li class="list">
						<h3> <%= image_tag "blue-check.png", class: "responsive checked", alt: "checkbox" %> How to Handle Realtors Asking You To List </h3> 
					</li>
					<li class="list">
					<h3> <%= image_tag "blue-check.png", class: "responsive checked", alt: "checkbox" %> &nbsp;Plus More... </h3> 
					</li>				
				</ul>
			</div><!--/col-md-12-->
		</div><!--/row-->
	</section>
	<section class="book-group" id="third">
		<div class="row">
		  <h1> Download Your Free Copy Now</h1>
		  <div class="col-xs-12 col-sm-6 payment-book">
			<%= image_tag "fsbo-book2.png", class: "book-image" %>
			
		  </div><!--/payment-book-->
		  <div class="col-xs-12 col-sm-6 payment-details">
		  	<h1> The best FREE online guide to selling your own home is a click away.</h1>
		  	
		  
		  	<button type="button" class="btn btn-primary btn-lg btn-1 orderBtn">I Want my Free FSBO Guide</button>

		  	<%= render 'subscribe_modal' %>

		  </div><!--/payment-details-->
		</div><!--/row-->
	</section>
	<section class="book-group" id="fourth">
		<div class="row">
		  <h1> About Us </h1>
		  <div class="about-us">
			<div class="col-xs-6 brz">
				<%= image_tag "brz-logo2.png", class: "breeze-logo", alt: "Breeze Street Logo" %>
				<h3> Breeze Street is an online platform dedicated to for sale by owner sellers.  With over $75 million in homes listed and sold throughout Ontario, and over $1.5 million dollars in commissions saved by successful sellers, Breeze Street is a leader in assisting home owners.</h3> 
			</div><!--/col-xs-6-->
			<div class = "col-xs-6 gcr">
				<%= image_tag "gcr-logo.png", class: "gcr-logo", alt: "Green Cloud Realty Logo" %>
				<h3> Green Cloud is a Toronto-based real estate brokerage dedicated to innovation and helping home owners sell for a flat-fee, making it Canada's first full-service flat-fee brokerage. Between their flat-fee offering, home buyer's rebate program and their partnership with Breeze Street Inc., the Green Cloud Team has helped hundreds of GTA and Ontario home owners put thousands of dollars back into their pocket when buying or selling their home.</h3>
		    </div><!--/col-xs-6-->
		  </div><!--/about-us-->
		</div><!--/row-->
		<div class="row">
			<button type="button" class="btn btn-primary btn-lg btn-2 orderBtn" id="orderBtn">I Want a Free FSBO Guide</button>
		</div>
	</section>
</div>