<!DOCTYPE html>
<html>
	<head>
	  <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
	  <meta charset="utf-8">
	  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	  <meta name="viewport" content="width=device-width" initial-scale="1">
	  <title> Selling Your Own Home? Get the Real Estate For Sale By Owner Tip Sheet</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	  <%= favicon_link_tag %>
	</head>
	<body>
	
	<nav class="navbar navbar-default">
	  <div class="container">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span> 
	      </button>
	      <a class="navbar-brand" href="#">For Sale By Owner: A Home  Seller's Guide</a>
	    </div>
	    
	  </div>
	</nav>

	<% flash.each do |type, msg| %>
      <%= content_tag :p, msg, class: "type, alert" %>
    <% end %>

	<%= yield %>

	<script type="text/javascript">
		$('body').prepend('<a href="#" class="back-to-top">Back to Top</a>');
	</script>
	
	<a href="#" class="back-to-top">Back to Top</a>

	<div class="footer">
		<p> Copyright © Breeze Street Inc. 2012-2016 <br />
			Icons made by <a href="http://www.flaticon.com/authors/pavel-kozlov" title="Pavel Kozlov">Pavel Kozlov</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
		</p>
		<%= debug(params) if Rails.env.development? %>
	</div>


	</body>
	
</html>


